<p><font color="#119933"><pre>---- 15:52:50.442 ------------------
DM_AM_REGISTER_REQ
    type = 0x0300 (768)
    phandle = 0x0000 (0)
    flags = 0x0010 (16)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.442 ------------------
DM_AM_REGISTER_CFM
    type = 0x0340 (832)
    phandle = 0x0010 (16)
    version = 0x0400 (1024)
    patch_level = 0x0000 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.443 ------------------
RFC_INIT_REQ
    type = 0x0600 (1536)
    phandle = 0xffff (65535)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.443 ------------------
RFC_INIT_CFM
    type = 0x0680 (1664)
    phandle = 0x0010 (16)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.653 ------------------
DM_HCI_READ_LOCAL_VER_INFO_REQ
    op_code = 0x1001 (4097)
    cmd_parameter_length = 0x02 (2)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.653 ------------------
DM_HCI_READ_LOCAL_VER_INFO_CFM
    type = 0x1201 (4609)
    phandle = 0x0010 (16)
    status = 0x00 (0)
    hci_version = 0x07 (7)
    hci_revision = 0x291d (10525)
    lmp_version = 0x07 (7)
    manuf_name = 0x000a (10)
    lmp_subversion = 0x291d (10525)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.667 ------------------
DM_SET_BT_VERSION_REQ
    type = 0x0301 (769)
    version = 0x04 (4)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.670 ------------------
DM_SET_BT_VERSION_CFM
    type = 0x0341 (833)
    phandle = 0x0010 (16)
    version = 0x04 (4)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.682 ------------------
DM_SM_INIT_REQ
    type = 0x0380 (896)
    options = 0x03c7 (967)
    security_mode = 0x04 (4)
    security_level_default = 0x0000 (0)
    config = 0x0000 (0)
    write_auth_enable = 0x000f (15)
    mode3_enc = 0x02 (2)
    sm_key_state =
        ir = 0xf46a4e452dab8071f6134f85bdaeb2a5
        er = 0x28d4656dd07c9e1c4ddcf3bd8d504b0e
    sm_div_state = 0x001d (29)
    sm_sign_counter = 0x00000000 (0)
    max_enc_key_size_thres = 0x00 (0)
    min_enc_key_size_thres = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.683 ------------------
DM_SM_INIT_CFM
    type = 0x03c0 (960)
    phandle = 0x0010 (16)
    security_mode = 0x04 (4)
    security_level_default = 0x0937 (2359)
    config = 0x0000 (0)
    write_auth_enable = 0x000f (15)
    mode3_enc = 0x00 (0)
    status = 0x0000 (0)
    sm_key_state =
        ir = 0xf46a4e452dab8071f6134f85bdaeb2a5
        er = 0x28d4656dd07c9e1c4ddcf3bd8d504b0e
    sm_div_state = 0x001d (29)
    sm_sign_counter = 0x00000000 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.716 ------------------
DM_SET_DEFAULT_LINK_POLICY_REQ
    type = 0x0306 (774)
    link_policy_settings_in = 0x0005 (5)
    link_policy_settings_out = 0x0005 (5)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.717 ------------------
DM_HCI_WRITE_DEFAULT_LINK_POLICY_SETTINGS_CFM
    type = 0x0a0f (2575)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.737 ------------------
DM_HCI_ULP_SET_ADVERTISE_ENABLE_REQ
    op_code = 0x0313 (787)
    cmd_parameter_length = 0x03 (3)
    advertising_enable = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.737 ------------------
DM_HCI_ULP_SET_SCAN_ENABLE_REQ
    op_code = 0x0318 (792)
    cmd_parameter_length = 0x04 (4)
    scan_enable = 0x00 (0)
    filter_duplicates = 0x01 (1)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.738 ------------------
ATT_REGISTER_REQ
    type = 0x0900 (2304)
    phandle = 0x0010 (16)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.739 ------------------
DM_HCI_ULP_SET_ADVERTISE_ENABLE_CFM
    type = 0x220a (8714)
    phandle = 0x0010 (16)
    status = 0x0c (12)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.739 ------------------
DM_HCI_ULP_SET_SCAN_ENABLE_CFM
    type = 0x220c (8716)
    phandle = 0x0010 (16)
    status = 0x0c (12)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.739 ------------------
ATT_REGISTER_CFM
    type = 0x0980 (2432)
    phandle = 0x0010 (16)
    result = 0x0000 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.751 ------------------
DM_HCI_ULP_SET_SCAN_ENABLE_REQ
    op_code = 0x0318 (792)
    cmd_parameter_length = 0x04 (4)
    scan_enable = 0x00 (0)
    filter_duplicates = 0x01 (1)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.753 ------------------
DM_HCI_ULP_SET_SCAN_PARAMETERS_REQ
    op_code = 0x0317 (791)
    cmd_parameter_length = 0x07 (7)
    scan_type = 0x01 (1)
    scan_interval = 0x0800 (2048)
    scan_window = 0x0400 (1024)
    own_address_type = 0x01 (1)
    scanning_filter_policy = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.754 ------------------
DM_HCI_ULP_SET_SCAN_ENABLE_CFM
    type = 0x220c (8716)
    phandle = 0x0010 (16)
    status = 0x0c (12)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.767 ------------------
DM_HCI_WRITE_CLASS_OF_DEVICE_REQ
    op_code = 0x0c24 (3108)
    cmd_parameter_length = 0x04 (4)
    dev_class = 0x001f00 (7936)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.767 ------------------
DM_HCI_READ_BD_ADDR_REQ
    op_code = 0x1009 (4105)
    cmd_parameter_length = 0x02 (2)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.774 ------------------
DM_SM_INIT_REQ
    type = 0x0380 (896)
    options = 0x01b7 (439)
    security_mode = 0x04 (4)
    security_level_default = 0x0000 (0)
    config = 0x0008 (8)
    write_auth_enable = 0x0000 (0)
    mode3_enc = 0x01 (1)
    sm_key_state =
        ir = 0xf46a4e452dab8071f6134f85bdaeb2a5
        er = 0x28d4656dd07c9e1c4ddcf3bd8d504b0e
    sm_div_state = 0x001d (29)
    sm_sign_counter = 0x00000000 (0)
    max_enc_key_size_thres = 0x00 (0)
    min_enc_key_size_thres = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.788 ------------------
DM_HCI_WRITE_SCAN_ENABLE_REQ
    op_code = 0x0312 (786)
    cmd_parameter_length = 0x03 (3)
    scan_enable = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.788 ------------------
DM_HCI_ULP_SET_SCAN_PARAMETERS_CFM
    type = 0x220b (8715)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.789 ------------------
DM_HCI_WRITE_CLASS_OF_DEVICE_CFM
    type = 0x0e24 (3620)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.795 ------------------
DM_HCI_READ_BD_ADDR_CFM
    type = 0x1209 (4617)
    phandle = 0x0010 (16)
    status = 0x00 (0)
    bd_addr =
        lap = 0x555555 (5592405)
        uap = 0x5b (91)
        nap = 0x0002 (2)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.802 ------------------
DM_SM_INIT_CFM
    type = 0x03c0 (960)
    phandle = 0x0010 (16)
    security_mode = 0x04 (4)
    security_level_default = 0x0937 (2359)
    config = 0x0008 (8)
    write_auth_enable = 0x000f (15)
    mode3_enc = 0x00 (0)
    status = 0x0000 (0)
    sm_key_state =
        ir = 0xf46a4e452dab8071f6134f85bdaeb2a5
        er = 0x28d4656dd07c9e1c4ddcf3bd8d504b0e
    sm_div_state = 0x001d (29)
    sm_sign_counter = 0x00000000 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.816 ------------------
DM_HCI_WRITE_SCAN_ENABLE_CFM
    type = 0x0e1a (3610)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.845 ------------------
DM_SM_INIT_REQ
    type = 0x0380 (896)
    options = 0x0070 (112)
    security_mode = 0x00 (0)
    security_level_default = 0x0000 (0)
    config = 0x0008 (8)
    write_auth_enable = 0x0001 (1)
    mode3_enc = 0x00 (0)
    sm_key_state =
        ir = 0x4e452dab8071f6134f85bdaeb2a528d4
        er = 0x656dd07c9e1c4ddcf3bd8d504b0e0000
    sm_div_state = 0xf46a (62570)
    sm_sign_counter = 0x001d0000 (1900544)
    max_enc_key_size_thres = 0x00 (0)
    min_enc_key_size_thres = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.845 ------------------
DM_SM_INIT_CFM
    type = 0x03c0 (960)
    phandle = 0x0010 (16)
    security_mode = 0x04 (4)
    security_level_default = 0x0937 (2359)
    config = 0x0008 (8)
    write_auth_enable = 0x0001 (1)
    mode3_enc = 0x00 (0)
    status = 0x0000 (0)
    sm_key_state =
        ir = 0xf46a4e452dab8071f6134f85bdaeb2a5
        er = 0x28d4656dd07c9e1c4ddcf3bd8d504b0e
    sm_div_state = 0x001d (29)
    sm_sign_counter = 0x00000000 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:52:50.886 ------------------
DM_HCI_CHANGE_LOCAL_NAME_REQ
    op_code = 0x0c13 (3091)
    cmd_parameter_length = 0x1e (30)
    name_part = LM068_BLE_Adapter55
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:52:50.887 ------------------
DM_HCI_CHANGE_LOCAL_NAME_CFM
    type = 0x0e13 (3603)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p><p><font color="#119933"><pre>---- 15:53:23.795 ------------------
DM_HCI_ULP_CLEAR_WHITE_LIST_REQ
    op_code = 0x2010 (8208)
    cmd_parameter_length = 0x02 (2)
------------------------------------
</pre></font>
<br/></p><p><font color="blue"><pre>---- 15:53:23.799 ------------------
DM_HCI_ULP_CLEAR_WHITE_LIST_CFM
    type = 0x2210 (8720)
    phandle = 0x0010 (16)
    status = 0x00 (0)
------------------------------------
</pre></font>
<br/></p>